body {
  font-family: Verdana;
  margin: 0px auto;
  background-color: #FFFFCC;
}

.header {
  display: block;
  height: 50px;
  margin: 0 auto;
  width: 500px;
  padding: 0 0 30px 0;
  text-align: center;
  color: blue;
  border-style: solid;
  border-radius: 10px;
}

.submit {
  font-weight: bold;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  display: inline-block;
}

.submitalink {
  display: inline-block;
}

.spacer {
  width: 800px;
  height: 2px;
  margin: 0px auto;
  background-color: gray;
  clear: both;
}

.headerlist {
  font-weight: bold;
  width: 700px;
  margin: 0px auto;
}

.linklist {
  width: 700px;
  margin: 0px auto;
}

.col1 {
  width: 400px;
  display: inline-block;
}

.col2 {
  width: 150px;
  display: inline-block;
}

.col3 {
  width: 130px;
  display: inline-block;
  text-align: center;
}

.error {
  font-size: 8pt;
  color: red;
  display: inline-block;
}
